* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 100;
  padding: 20px 0;
}
.header__logo {
  justify-content: center;
}
.header__logo-image {
  height: 3em;
}

.menu {
  display: flex;
  flex-direction: row-reverse;
}
.menu__list {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.menu__item {
  padding: 0;
  margin: 0 20px;
  list-style-type: none;
}
.menu__link {
  display: block;
  width: 100%;
  line-height: 2em;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 900;
  color: #2980b9;
}
.menu__link:hover {
  color: #2c3e50;
}
.menu__hamburger {
  display: none;
  outline: none;
  cursor: pointer;
  margin-right: 20px;
  width: 40px;
  height: 35px;
  border: 0;
  border-top: 5px solid #2c3e50;
  position: relative;
  background: transparent;
  transition: 0.3s transform ease;
}
.menu__hamburger::before, .menu__hamburger::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 5px solid #2c3e50;
  transform: translateY(10px);
}
.menu__hamburger::after {
  transform: translateY(25px);
  transition: 0.1s transform ease;
}
.menu__hamburger:focus {
  transform: rotate(45deg) translateY(5px);
  border: none;
}
.menu__hamburger:focus::after {
  transform: rotate(-90deg) translateX(-10px);
}

@media only screen and (max-width: 1000px) {
  .menu__link {
    font-size: 1em;
  }
}
@media only screen and (max-width: 810px) {
  .menu__link {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 650px) {
  .header__logo {
    flex-grow: 1;
  }

  .menu {
    flex-grow: 4;
  }
  .menu__list {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  .menu__link {
    font-size: 1em;
  }
  .menu__hamburger {
    display: block;
  }
  .menu__hamburger + ul {
    display: none;
  }
  .menu__hamburger:focus + ul {
    display: block;
  }
}
.welcome {
  background: url("../images/Puzle.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  transition: filter 0.3s ease;
}
.welcome__text {
  position: absolute;
  z-index: 10;
  color: #ffffff;
  font-size: 38px;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  line-height: 2em;
  animation: text 12s infinite both;
}
.welcome__text:nth-of-type(2) {
  animation-delay: 4s;
}
.welcome__text:nth-of-type(3) {
  animation-delay: 8s;
}

@keyframes text {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  33.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.module {
  display: flex;
  flex-direction: column;
  padding: 3em 5em;
  z-index: 10;
  min-height: 100vh;
}
.module__desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.module__header {
  font-size: 32px;
  margin-bottom: 15px;
}
.module__info {
  font-size: 22px;
  text-align: justify;
}
.module__img {
  min-width: 250px;
  min-height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
}
.module__img--ms-project {
  background-image: url(../images/MSProject.png);
}
.module__img--project-management {
  background-image: url(../images/PM.png);
}
.module__img--ms-excel {
  background-image: url(../images/MSExcel.png);
}
.module__boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1250px;
  margin: 0 auto;
}

.box {
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  width: 18em;
  padding: 1em 0.5em;
  margin: 1em;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.box__header {
  flex-grow: 1;
}
.box__info {
  font-size: 14px;
  flex-grow: 3;
  margin: 20px 0;
}
.box__link {
  color: #0080ff;
  font-weight: bold;
  flex-grow: 1;
  margin: 0 0 10px 0;
}
.box:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  transform: rotate(5deg);
}

@media only screen and (max-width: 1200px) {
  .box {
    width: 44%;
  }
}
@media only screen and (max-width: 820px) {
  .module {
    padding: 1em 2em;
  }
  .module__img {
    display: none;
  }

  .box {
    width: 100%;
    padding: 1em;
  }
}
@media only screen and (max-width: 400px) {
  .module {
    padding: 1em 1em;
  }
  .module__info {
    text-align: left;
    font-size: 16px;
  }
  .module__header {
    margin-bottom: 40px;
  }
  .module__info {
    display: none;
  }

  .box {
    margin: 1em 0;
    height: 8em;
  }
}
.consulting {
  background: url("../images/desktop_l.jpg") center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  z-index: 25;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
.consulting__header {
  font-size: 32px;
  grid-column: 5/span 1;
  grid-row: 5/span 1;
}
.consulting__info {
  text-align: justify;
  font-size: 20px;
}
.consulting__info-one {
  grid-column: 5/span 8;
  grid-row: 7/span 2;
}
.consulting__info-two {
  grid-column: 5/span 8;
  grid-row: 9/span 2;
}

@media only screen and (max-width: 1360px) {
  .consulting {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .consulting__header {
    grid-column: 5/span 1;
    grid-row: 2/span 1;
  }
  .consulting__info-one {
    grid-column: 2/span 6;
    grid-row: 3/span 2;
  }
  .consulting__info-two {
    grid-column: 2/span 6;
    grid-row: 5/span 2;
  }
}
@media only screen and (max-width: 768px) {
  .consulting {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .consulting__header {
    grid-column: 5/span 1;
    grid-row: 2/span 1;
  }
  .consulting__info-one {
    grid-column: 1/span 6;
    grid-row: 3/span 2;
  }
  .consulting__info-two {
    grid-column: 1/span 6;
    grid-row: 5/span 2;
  }
}
@media only screen and (max-width: 480px) {
  .consulting {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .consulting__header {
    grid-column: 3/span 1;
    grid-row: 1/span 1;
    align-self: center;
  }
  .consulting__info-one {
    grid-column: 1/span 3;
    grid-row: 2/span 4;
  }
  .consulting__info-two {
    display: none;
  }
}
.about {
  background: url("../images/desktop_r.jpg") center center no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 50;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.about__header {
  font-size: 32px;
  grid-column: 2/span 4;
  grid-row: 1/span 1;
  align-self: end;
}
.about__info {
  text-align: justify;
  font-size: 20px;
}
.about__info--one {
  grid-column: 2/span 5;
  grid-row: 3/span 1;
}
.about__info--two {
  grid-column: 2/span 5;
  grid-row: 5/span 1;
}
.about__info--three {
  grid-column: 2/span 5;
  grid-row: 7/span 1;
}
.about__info--four {
  grid-column: 2/span 5;
  grid-row: 9/span 1;
}

@media only screen and (max-width: 1360px) {
  .about {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(13, 1fr);
  }
  .about__info--one {
    grid-column: 2/span 5;
    grid-row: 3/span 2;
  }
  .about__info--two {
    grid-column: 2/span 5;
    grid-row: 6/span 2;
  }
  .about__info--three {
    grid-column: 2/span 5;
    grid-row: 9/span 2;
  }
  .about__info--four {
    grid-column: 2/span 5;
    grid-row: 12/span 2;
  }
}
@media only screen and (max-width: 768px) {
  .about {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .about__header {
    align-self: center;
  }
  .about__info--one {
    grid-column: 2/span 6;
    grid-row: 2/span 2;
  }
  .about__info--two {
    display: none;
  }
  .about__info--three {
    display: none;
  }
  .about__info--four {
    grid-column: 2/span 6;
    grid-row: 5/span 2;
  }
}
@media only screen and (max-width: 480px) {
  .about {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .about__header {
    grid-column: 2/span 4;
    grid-row: 1/span 1;
  }
  .about__info--one {
    display: none;
  }
  .about__info--two {
    display: none;
  }
  .about__info-three {
    display: none;
  }
  .about__info--four {
    grid-column: 1/span 5;
    grid-row: 2/span 1;
    text-align: left;
  }
}

/*# sourceMappingURL=styles.css.map */
