* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 100;
  padding: 20px 0;
}
.header__logo {
  justify-content: center;
}
.header__logo-image {
  height: 3em;
}

.menu {
  display: flex;
  flex-direction: row-reverse;
}
.menu__list {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.menu__item {
  padding: 0;
  margin: 0 20px;
  list-style-type: none;
}
.menu__link {
  display: block;
  width: 100%;
  line-height: 2em;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 900;
  color: #2980b9;
}
.menu__link:hover {
  color: #2c3e50;
}
.menu--active {
  color: #f15225;
}
.menu__hamburger {
  display: none;
  outline: none;
  cursor: pointer;
  margin-right: 20px;
  width: 40px;
  height: 35px;
  border: 0;
  border-top: 5px solid #2c3e50;
  position: relative;
  background: transparent;
  transition: 0.3s transform ease;
  display: none;
}
.menu__hamburger::before, .menu__hamburger::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 5px solid #2c3e50;
  transform: translateY(10px);
}
.menu__hamburger::after {
  transform: translateY(25px);
  transition: 0.1s transform ease;
}
.menu__hamburger--active {
  transform: rotate(45deg) translateY(5px);
  border: none;
}
.menu__hamburger--active::after {
  transform: rotate(-90deg) translateX(-10px);
}

@media only screen and (max-width: 1000px) {
  .menu__link {
    font-size: 1em;
  }
}
@media only screen and (max-width: 810px) {
  .menu__link {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 690px) {
  .header__logo {
    flex-grow: 1;
  }

  .menu {
    flex-grow: 4;
  }
  .menu__list {
    flex-direction: column;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .menu__list--active {
    display: flex;
  }
  .menu__link {
    font-size: 1em;
  }
  .menu__hamburger {
    display: block;
  }
}
@media only screen and (max-width: 690px) and (max-width: 400px) {
  .header__logo {
    display: none;
  }

  .menu {
    width: 100%;
  }
}
.welcome {
  background: url("../images/puzle.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  transition: filter 0.3s ease;
}
.welcome__text {
  position: absolute;
  z-index: 10;
  color: #ffffff;
  font-size: 38px;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  line-height: 2em;
  animation: text 12s infinite both;
}
.welcome__text:nth-of-type(2) {
  animation-delay: 4s;
}
.welcome__text:nth-of-type(3) {
  animation-delay: 8s;
}

@keyframes text {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  33.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.module {
  display: flex;
  flex-direction: column;
  padding: 3em 5em;
  z-index: 10;
  min-height: 100vh;
}
.module__desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.module__desc--rev {
  flex-direction: row-reverse;
}
.module__header {
  font-size: 32px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #f15225;
}
.module__info {
  font-size: 22px;
  text-align: justify;
}
.module__img {
  min-width: 250px;
  min-height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
}
.module__img--ms-project {
  background-image: url(../images/msproject.png);
}
.module__img--project-management {
  background-image: url(../images/pm.png);
}
.module__img--ms-excel {
  background-image: url(../images/msexcel.png);
}
.module__boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1250px;
  margin: 0 auto;
}

.box {
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  width: 22em;
  padding: 1em 0.5em;
  margin: 1em;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.box__header {
  flex-grow: 1;
}
.box__info {
  flex-grow: 3;
  margin: 20px 0;
}
.box__link {
  color: #0080ff;
  font-weight: bold;
  flex-grow: 1;
  margin: 0 0 10px 0;
}
.box:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  transform: rotate(5deg);
}

@media only screen and (max-width: 1200px) {
  .box {
    width: 44%;
  }
}
@media only screen and (max-width: 820px) {
  .module {
    padding: 1em 2em;
  }
  .module__img {
    display: none;
  }

  .box {
    width: 100%;
    padding: 1em;
  }
}
@media only screen and (max-width: 400px) {
  .module {
    padding: 1em 1em;
  }
  .module__info {
    text-align: left;
    font-size: 16px;
  }
  .module__info {
    display: none;
  }

  .box {
    margin: 1em 0;
  }
}
.consulting {
  background: url("../images/desktop_l.jpg") center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  z-index: 25;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
.consulting__header {
  font-size: 32px;
  grid-column: 5/span 1;
  grid-row: 5/span 1;
  color: #f15225;
}
.consulting__info {
  text-align: justify;
  font-size: 20px;
}
.consulting__info-one {
  grid-column: 5/span 8;
  grid-row: 7/span 2;
}
.consulting__info-two {
  grid-column: 5/span 8;
  grid-row: 9/span 2;
}

@media only screen and (max-width: 1360px) {
  .consulting {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .consulting__header {
    grid-column: 5/span 1;
    grid-row: 2/span 1;
  }
  .consulting__info-one {
    grid-column: 2/span 6;
    grid-row: 3/span 2;
  }
  .consulting__info-two {
    grid-column: 2/span 6;
    grid-row: 5/span 2;
  }
}
@media only screen and (max-width: 768px) {
  .consulting {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .consulting__header {
    grid-column: 5/span 1;
    grid-row: 2/span 1;
  }
  .consulting__info-one {
    grid-column: 1/span 6;
    grid-row: 3/span 2;
  }
  .consulting__info-two {
    grid-column: 1/span 6;
    grid-row: 5/span 2;
  }
}
@media only screen and (max-width: 480px) {
  .consulting {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .consulting__header {
    grid-column: 3/span 1;
    grid-row: 1/span 1;
    align-self: center;
  }
  .consulting__info-one {
    grid-column: 1/span 3;
    grid-row: 2/span 4;
  }
  .consulting__info-two {
    display: none;
  }
}
.about {
  background: url("../images/desktop_r.jpg") center center no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 50;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.about__header {
  font-size: 32px;
  grid-column: 2/span 4;
  grid-row: 1/span 1;
  align-self: end;
  color: #f15225;
}
.about__info {
  text-align: justify;
  font-size: 20px;
}
.about__info--one {
  grid-column: 2/span 5;
  grid-row: 3/span 1;
}
.about__info--two {
  grid-column: 2/span 5;
  grid-row: 5/span 1;
}
.about__info--three {
  grid-column: 2/span 5;
  grid-row: 7/span 1;
}
.about__info--four {
  grid-column: 2/span 5;
  grid-row: 9/span 1;
}

@media only screen and (max-width: 1360px) {
  .about {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(13, 1fr);
  }
  .about__info--one {
    grid-column: 2/span 5;
    grid-row: 3/span 2;
  }
  .about__info--two {
    grid-column: 2/span 5;
    grid-row: 6/span 2;
  }
  .about__info--three {
    grid-column: 2/span 5;
    grid-row: 9/span 2;
  }
  .about__info--four {
    grid-column: 2/span 5;
    grid-row: 12/span 2;
  }
}
@media only screen and (max-width: 768px) {
  .about {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .about__header {
    align-self: center;
  }
  .about__info--one {
    grid-column: 2/span 6;
    grid-row: 2/span 2;
  }
  .about__info--two {
    display: none;
  }
  .about__info--three {
    display: none;
  }
  .about__info--four {
    grid-column: 2/span 6;
    grid-row: 5/span 2;
  }
}
@media only screen and (max-width: 480px) {
  .about {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .about__header {
    grid-column: 2/span 4;
    grid-row: 1/span 1;
  }
  .about__info--one {
    display: none;
  }
  .about__info--two {
    display: none;
  }
  .about__info-three {
    display: none;
  }
  .about__info--four {
    grid-column: 1/span 5;
    grid-row: 2/span 1;
    text-align: left;
  }
}
.contact {
  padding: 5em 0;
  margin: 0 5em;
  height: 100vh;
  display: flex;
  align-items: center;
}

.contact__container {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  background-image: repeating-linear-gradient(135deg, #f29b91 0px, #f09290 30px, transparent 30px, transparent 50px, #83b3db 50px, #84adcb 80px, transparent 80px, transparent 100px);
  padding: 12px;
}

.postcard {
  width: 100%;
  height: 100%;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
.postcard__title {
  grid-column: 2/span 7;
  grid-row: 3/span 1;
  border: 2px solid #000;
}
.postcard__body {
  grid-column: 2/span 7;
  grid-row: 5/span 6;
  border: 2px solid #000;
}
.postcard__title, .postcard__title:placeholder-shown, .postcard__body, .postcard__body:placeholder-shown {
  padding-left: 10px;
}
.postcard__body {
  padding-top: 10px;
}
.postcard__link {
  grid-column: 10/span 4;
  grid-row: 3/span 6;
}
.postcard__foto {
  border-radius: 10%;
}
.postcard__info {
  grid-column: 10/span 4;
  grid-row: 9/span 3;
  margin-left: 25px;
}
.postcard__send {
  grid-column: 10/span 2;
  grid-row: 11/span 1;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  justify-self: center;
}

@media only screen and (max-height: 950px) {
  .postcard__link {
    transform: scale(0.7);
    grid-column: 10/span 4;
    grid-row: 2/span 6;
  }
}
@media only screen and (max-height: 650px) {
  .postcard__link {
    display: none;
  }
  .postcard__info {
    grid-column: 10/span 4;
    grid-row: 5/span 3;
  }
  .postcard__info-line {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1150px) {
  .postcard__title {
    grid-column: 2/span 10;
  }
  .postcard__body {
    grid-column: 2/span 10;
  }
  .postcard__link {
    display: none;
  }
  .postcard__info {
    display: none;
  }
  .postcard__send {
    grid-column: 9/span 1;
    grid-row: 12/span 2;
  }
}
@media only screen and (max-width: 650px) {
  .postcard__title {
    grid-column: 2/span 10;
    grid-row: 2/span 1;
  }
  .postcard__body {
    grid-column: 2/span 10;
    grid-row: 4/span 7;
  }
  .postcard__send {
    grid-column: 9/span 1;
    grid-row: 12/span 1;
  }
}
@media only screen and (max-width: 400px) {
  .contact {
    margin: 0;
  }
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  font-size: 1.2em;
}
.footer__info-header, .footer__company-header {
  padding: 1em 0;
}
.footer__info, .footer__company {
  width: 30%;
}
.footer__info-line {
  font-size: 1.2em;
}
.footer__info-link {
  font-size: 1.1em;
  color: #2980b9;
  text-decoration: none;
}

.opc_add {
  opacity: 0;
  transition: all 1s ease;
}

.opc_del {
  opacity: 1;
  transition: all 1s ease;
}

@media only screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer__info, .footer__company {
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .footer__company {
    display: none;
  }
}
.numbers {
  background: url(../images/puzle.jpg) center center/100% auto no-repeat fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 24em;
}
.numbers__block {
  text-align: center;
}
.numbers__header {
  text-align: center;
  font-size: 4em;
  font-weight: 900;
}
.numbers__text {
  padding-top: 0.5em;
  font-size: 2em;
}

@media only screen and (max-width: 650px) {
  .numbers__header {
    font-size: 2em;
  }

  .numbers__text {
    font-size: 1em;
  }
}

/*# sourceMappingURL=styles.css.map */
