$font: "Roboto", Arial, Helvetica, sans-serif
$color_1: #2c3e50
$color_2: #ecf0f1
$color_3: #e74c3c
$color_4: #3498db
$color_5: #2980b9
$color_h1: #f15225
$color_bg: #ffffff
$color_link: #0080ff

*
  margin: 0
  padding: 0
  font-size: 16px
  box-sizing: border-box
  font-family: $font
  scroll-behavior: smooth

    // HEADER AND MENU

.header
  display: flex
  justify-content: space-around
  align-items: center
  background: $color_bg
  width: 100%
  position: fixed
  z-index: 100
  padding: 20px 0

  &__logo
    justify-content: center

    &-image
      height: 3em

.menu
  display: flex
  flex-direction: row-reverse

  &__list
    display: flex
    flex-direction: row
    height: 100%

  &__item
    padding: 0
    margin: 0 20px
    list-style-type: none

  &__link
    display: block
    width: 100%
    line-height: 2em
    text-decoration: none
    font-size: 1.3em
    font-weight: 900
    color: $color_5
    
    &:hover
      color: $color_1

  &--active
    color: $color_h1

  &__hamburger
    display: none
    outline: none
    cursor: pointer
    margin-right: 20px
    width: 40px
    height: 35px
    border: 0
    border-top: 5px solid $color_1
    position: relative
    background: transparent
    transition: 0.3s transform ease

    &::before,
    &::after
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      border-top: 5px solid $color_1
      transform: translateY(10px)

    &::after
      transform: translateY(25px)
      transition: 0.1s transform ease

    &:focus
      transform: rotate(45deg) translateY(5px)
      border: none

    &:focus::after
      transform: rotate(-90deg) translateX(-10px)

@media only screen and (max-width: 1000px)
  .menu__link
    font-size: 1em

@media only screen and (max-width: 810px)
  .menu__link
    font-size: 0.8em

@media only screen and (max-width: 650px)
  .header__logo
    flex-grow: 1

  .menu
    flex-grow: 4
  
    &__list
      flex-direction: column
      display: flex
      justify-content: center
      align-items: center
      width: 70%

    &__link
      font-size: 1em

    &__hamburger
      display: block

      & + ul
        display: none

      &:focus + ul
        display: block

    //  WELCOME

.welcome
  background: url("../images/puzle.jpg") center center no-repeat
  background-size: cover
  height: 100vh
  overflow: hidden
  transition: filter 0.3s ease

  &__text
    position: absolute
    z-index: 10
    color: $color_bg
    font-size: 38px
    width: 100%
    text-align: center
    top: 50%
    transform: translateY(-50%)
    background: rgba(0, 0, 0, 0.5)
    line-height: 2em
    animation: text 12s infinite both

    &:nth-of-type(2)
      animation-delay: 4s

    &:nth-of-type(3)
      animation-delay: 8s

@keyframes text
  0%
   opacity: 0
  5%
   opacity: 0
  8%
   opacity: 1
  25%
   opacity: 1
  28%
   opacity: 0
  33.33%
   opacity: 0
  100%
   opacity: 0


    //  MODULES

.module
  display: flex
  flex-direction: column
  padding: 3em 5em
  z-index: 10
  min-height: 100vh

  &__desc
    display: flex
    flex-direction: row
    align-items: center
    margin-bottom: 20px

    &--rev
      flex-direction: row-reverse

  &__header
    font-size: 32px
    margin-bottom: 15px
    color: $color_h1

  &__info
    font-size: 22px
    text-align: justify

  &__img
    min-width: 250px
    min-height: 250px
    background-position: center center
    background-repeat: no-repeat

    &--ms-project
      background-image: url(../images/msproject.png)

    &--project-management
      background-image: url(../images/pm.png)

    &--ms-excel
      background-image: url(../images/msexcel.png)


  &__boxes
    display: flex
    flex-wrap: wrap
    justify-content: center
    max-width: 1250px
    margin: 0 auto

.box
  text-decoration: none
  color: #000
  display: flex
  flex-direction: column
  width: 22em
  padding: 1em 0.5em
  margin: 1em
  text-align: center
  border-radius: 10px
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2)

  &__header
    flex-grow: 1

  &__info
    flex-grow: 3
    margin: 20px 0

  &__link
    color: $color_link
    font-weight: bold
    flex-grow: 1
    margin: 0 0 10px 0

  &:hover
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2)
    transform: rotate(5deg)

@media only screen and (max-width: 1200px)
  .box
    width: 44%

@media only screen and (max-width: 820px)
  .module
    padding: 1em 2em

    &__img
      display: none

  .box
    width: 100%
    padding: 1em

@media only screen and (max-width: 400px)
  .module
    padding: 1em 1em

    &__info
      text-align: left
      font-size: 16px

    &__header
      margin-bottom: 40px

    &__info
      display: none

  .box
    margin: 1em 0
    height: 8em

      //  CONSULTING
.consulting
  background: url("../images/desktop_l.jpg") center center no-repeat
  background-size: cover
  min-height: 100vh
  overflow: hidden
  z-index: 25
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-template-rows: repeat(12, 1fr)

  &__header
    font-size: 32px
    grid-column: 5 / span 1
    grid-row: 5 / span 1
    color: $color_h1

  &__info
    text-align: justify
    font-size: 20px

    &-one
      grid-column: 5 / span 8
      grid-row: 7 / span 2

    &-two
      grid-column: 5 / span 8
      grid-row: 9 / span 2

@media only screen and (max-width: 1360px)
  .consulting
    grid-template-columns: repeat(6, 1fr)
    grid-template-rows: repeat(6, 1fr)

    &__header
      grid-column: 5 / span 1
      grid-row: 2 / span 1

    &__info-one
      grid-column: 2 / span 6
      grid-row: 3 / span 2

    &__info-two
      grid-column: 2 / span 6
      grid-row: 5 / span 2

@media only screen and (max-width: 768px)
  .consulting
    grid-template-columns: repeat(6, 1fr)
    grid-template-rows: repeat(6, 1fr)

    &__header
      grid-column: 5 / span 1
      grid-row: 2 / span 1

    &__info-one
      grid-column: 1 / span 6
      grid-row: 3 / span 2

    &__info-two
      grid-column: 1 / span 6
      grid-row: 5 / span 2

@media only screen and (max-width: 480px)
  .consulting
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(5, 1fr)

    &__header
      grid-column: 3 / span 1
      grid-row: 1 / span 1
      align-self: center

    &__info-one
      grid-column: 1 / span 3
      grid-row: 2 / span 4

    &__info-two
      display: none


  //  ABOUT US

.about
  background: url("../images/desktop_r.jpg") center center no-repeat
  background-size: cover
  overflow: hidden
  z-index: 50
  display: grid
  grid-template-columns: repeat(10, 1fr)
  grid-template-rows: repeat(10, 1fr)

  &__header
    font-size: 32px
    grid-column: 2 / span 4
    grid-row: 1 / span 1
    align-self: end
    color: $color_h1

  &__info
    text-align: justify
    font-size: 20px

    &--one
      grid-column: 2 / span 5
      grid-row: 3 / span 1

    &--two
      grid-column: 2 / span 5
      grid-row: 5 / span 1

    &--three
      grid-column: 2 / span 5
      grid-row: 7 / span 1

    &--four
      grid-column: 2 / span 5
      grid-row: 9 / span 1

@media only screen and (max-width: 1360px)
  .about
    grid-template-columns: repeat(10, 1fr)
    grid-template-rows: repeat(13, 1fr)

    &__info--one
      grid-column: 2 / span 5
      grid-row: 3 / span 2

    &__info--two
      grid-column: 2 / span 5
      grid-row: 6 / span 2

    &__info--three
      grid-column: 2 / span 5
      grid-row: 9 / span 2

    &__info--four
      grid-column: 2 / span 5
      grid-row: 12 / span 2

@media only screen and (max-width: 768px)
  .about
    grid-template-columns: repeat(10, 1fr)
    grid-template-rows: repeat(6, 1fr)

    &__header
      align-self: center

    &__info--one
      grid-column: 2 / span 6
      grid-row: 2 / span 2

    &__info--two
      display: none

    &__info--three
      display: none

    &__info--four
      grid-column: 2 / span 6
      grid-row: 5 / span 2

@media only screen and (max-width: 480px)
  .about
    grid-template-columns: repeat(6, 1fr)
    grid-template-rows: repeat(3, 1fr)

    &__header
      grid-column: 2 / span 4
      grid-row: 1 / span 1

    &__info--one
      display: none

    &__info--two
      display: none

    &__info-three
      display: none

    &__info--four
      grid-column: 1 / span 5
      grid-row: 2 / span 1
      text-align: left


  // CONTACT

.contact
  padding: 5em 0
  margin: 0 5em
  height: 100vh
  display: flex
  align-items: center

.contact__container
  width: 100%
  height: 70vh
  margin: 0 auto
  background-image: repeating-linear-gradient(135deg, #f29b91 0px, #f09290 30px, transparent 30px, transparent 50px, #83b3db 50px, #84adcb 80px, transparent 80px, transparent 100px)
  padding: 12px

.postcard
  width: 100%
  height: 100%
  background: #fff
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-template-rows: repeat(12, 1fr)

  &__title
    grid-column: 2 / span 7
    grid-row: 3 / span 1
    border: 2px solid #000

  &__body
    grid-column: 2 / span 7
    grid-row: 5 / span 6
    border: 2px solid #000

  &__title,
  &__title:placeholder-shown,
  &__body,
  &__body:placeholder-shown
    padding-left: 10px

  &__body
    padding-top: 10px

  &__link
    grid-column: 10 / span 4
    grid-row: 3 / span 6

  &__foto
    border-radius: 10%

  &__info
    grid-column: 10 / span 4
    grid-row: 9 / span 3
    margin-left: 25px

  &__send
    grid-column: 10 / span 2
    grid-row: 11 / span 1
    font-size: 30px
    font-weight: bold
    cursor: pointer
    justify-self: center

@media only screen and (max-height: 950px)
  
  .postcard

    &__link
      transform: scale(0.7)
      grid-column: 10 / span 4
      grid-row: 2 / span 6

@media only screen and (max-height: 650px)
  
  .postcard

    &__link
      display: none

    &__info
      grid-column: 10 / span 4
      grid-row: 5 / span 3
    
    &__info-line
      font-size: 18px

@media only screen and (max-width: 1150px)

  .postcard

    &__title
      grid-column: 2 / span 10

    &__body
      grid-column: 2 / span 10

    &__link
      display: none

    &__info
      display: none

    &__send
      grid-column: 9 / span 1
      grid-row: 12 / span 2

@media only screen and (max-width: 650px)

  .postcard
    
    &__title
      grid-column: 2 / span 10
      grid-row: 2 / span 1

    &__body
      grid-column: 2 / span 10
      grid-row: 4 / span 7

    &__send
      grid-column: 9 / span 1
      grid-row: 12 / span 1

@media only screen and (max-width: 400px)
  .contact
    margin: 0

  // FOOTER

.footer
  display: flex
  flex-direction: row
  justify-content: space-around
  margin-bottom: 20px
  font-size: 1.2em

  &__info-header, &__company-header
    padding: 1em 0

  &__info, &__company
    width: 30%

  &__info-line
    font-size: 1.2em

  &__info-link
    font-size: 1.1em
    color: $color_5
    text-decoration: none

.opc_add
  opacity: 0
  transition: all 1s ease

.opc_del
  opacity: 1
  transition: all 1s ease

@media only screen and (max-width: 800px)
  .footer
    flex-direction: column
    align-items: center

    &__info, &__company
      width: 80%

// SECTION

.numbers
  background: url(../images/puzle.jpg) center center / 100% auto no-repeat fixed
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-around
  height: 24em

  &__block
    text-align: center

  &__header
    text-align: center
    font-size: 4em
    font-weight: 900

  &__text
    padding-top: 0.5em
    font-size: 2em


@media only screen and (max-width: 650px)
  .numbers__header
    font-size: 2em

  .numbers__text
    font-size: 1em
